<!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <h1>QualityOps</h1>
    </div>

    <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/employees">Employees</a>
      <a routerLink="/departments">Departments</a>
      <a routerLink="/leave-requests">Leave Requests</a>
      <a routerLink="/test-cases">Test Cases</a>
      <a routerLink="/test-runs">Test Runs</a>
      <a routerLink="/defects">Defects</a>
      <a routerLink="/reports">Reports</a>
    </nav>
  </aside>